[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
nose = "*"
httpretty = "*"
moto = "*"
requests-mock = "*"

[packages]
setuptools = "*"
wheel = "*"
sickle = ">=0.7.0"
pexpect = "*"
xmltodict = "*"
apache-airflow = "==1.10.14"
lxml = "==4.6.2"
requests = "*"

[requires]
python_version = "3.6"
