[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==8.3.2"
pylint = "*"
nose = "*"
httpretty = "*"
moto = "==5.0.11"
requests-mock = "==1.12.1"

[packages]
apache-airflow = "==2.10.4"
apache-airflow-providers-amazon = "==8.28.0"
apache-airflow-providers-slack = "==8.9.0"
apache-airflow-providers-sftp = "==4.11.0"
apache-airflow-providers-ssh = "==3.13.1"
cryptography = "==42.0.8"
flask-openid = "==1.3.0"
flask-session = "==0.5.0"
flask-sqlalchemy = "==2.5.1"
lxml = "==5.3.0"
marshmallow = "==3.22.0"
numpy = "==1.26.4"
pandas = "==2.2.3"
pexpect = "==4.9.0"
requests = "==2.32.3"
setuptools = "75.6.0"
sickle = ">=0.7.0"
sqlalchemy = "==1.4.53"
werkzeug = "==2.2.3"
wheel = "*"
wtforms = "==3.1.2"
xmltodict = "==0.13.0"

[requires]
python_version = "3.12"
