[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
nose = "*"
httpretty = "*"
moto = "*"
requests-mock = "*"
setuptools-scm = {version="*", extras=["toml"]}

[packages]
aiohttp = "==3.13.3"
apache-airflow = "==3.2.0"
apache-airflow-providers-amazon = "==9.23.0"
apache-airflow-providers-fab = "==3.5.0"
apache-airflow-providers-slack = "==9.8.0"
apache-airflow-providers-sftp = "==5.7.1"
apache-airflow-providers-ssh = "==4.3.2"
cryptography = "==46.0.6"
flask-openid = "*"
flask-session = "==0.8.0"
flask-sqlalchemy = "==3.1.1"
lxml = "==6.0.2"
marshmallow = "==3.26.2"
numpy = "==2.4.3"
pandas = "==2.3.3"
pexpect = "==4.9.0"
protobuf = "==6.33.6"
requests = "==2.33.1"
setuptools = "82.0.1"
sickle = ">=0.7.0"
sqlalchemy = "==2.0.48"
werkzeug = "==3.1.7"
wheel = "==0.46.3"
wtforms = "==3.2.1"
xmltodict = "==1.0.4"

[requires]
python_version = "3.12"
